/* This is where styling is being set up */
.logo-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('/Assets/Icon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

nav>section{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item{
    padding: 8px;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.nav-item:hover{
    color: lightgray;
}

/* .section-container{
    background-color: whitesmoke;
} */

.banner-container{
    height: 258px;
    background: linear-gradient(whitesmoke, lightgray);
}

.project-container{
    text-align: center;
    transition: transform 0.3s;
}

.project-container:hover{
    transform: scale(1.2);
}

.project-list{
    display: flex;
    justify-content: space-around;
}

.form-result{
    height: 100%;
    /* border: 1px solid black; */
}

.contact-me-section{
    display: flex;
    justify-content: space-between;
}

.result-container{
    width: 50%;
}

#project1{
    background-image: url('/Assets/ProjectOneIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#project2{
    background-image: url('/Assets/ProjectTwoIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#project3{
    background-image: url('/Assets/ProjectThreeIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
}