/* This is where styling is being set up */
@media only screen and (max-width:480px) {
    nav{
        flex-direction: column;
    }

    nav>section{
        width: 100%;
        flex-direction: column;
    }

    .logo-icon{
        margin-bottom: 16px;
    }

    .contact-me-section{
        flex-direction: column;
    }

    form{
        margin-bottom: 16px;
    }

    .project-list{
        flex-direction: column;
    }
}

.logo-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url('../Assets/UserIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

hr{
    height: 2px;
    border: none;
    background-color: darkgray;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
}

nav>section{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item{
    padding: 8px;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    transition: color 0.3s, background-color 0.3s;
}

.nav-item:hover{
    color: lightgray;
    background-color: black;
}

/* .section-container{
    background-color: whitesmoke;
} */

.banner-container{
    height: 258px;
}

img{
    max-height: 258px;
    width: 100%;
}

.project-container{
    text-align: center;
    transition: transform 0.3s, color 0.3s;
}

.project-container:hover{
    transform: scale(1.2);
    color: lightslategray;
}

.project-list{
    display: flex;
    justify-content: space-around;
}

.form-result{
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -5px 5px 15px 1px #000000;
    padding-left: 10px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.form-result>p{
    font-weight: bold;
}

.contact-me-section{
    display: flex;
    justify-content: space-between;
}

.result-container{
    width: 50%;
}

.form-result:hover{
    background-color: black;
    color: lightgray;
    box-shadow: none;
}

#project1{
    background-image: url('../Assets/ProjectOneIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#project2{
    background-image: url('../Assets/ProjectTwoIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#project3{
    background-image: url('../Assets/ProjectThreeIcon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

form{
    box-shadow: 5px 5px 15px 1px #000000;
    border-radius: 5px;
}

#submit-button{
    background-color: darkgray;
    border-radius: 5px;
    border: 1px solid darkgray;
    transition: color 0.3s, background-color 0.3s;
}

#submit-button:hover{
    color: lightgray;
    background-color: black;
}